/* COLOR
    WHITE: #E5E4E0
    GREY: #BDBDBD
    RED: #CC5454
    DARK-PURPLE: #4D2A88
    PURPLE: #6F3F99
    LIGHT-PURPLE: #A17AB6 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#landing-page {
  /* position: relative; */
  height: 1080px;
  width: 100%;
  overflow: hidden;
  background-color: #4d2a88;
  color: #bdbdbd;
  text-shadow: 0 0 5px black;
  position: fixed;

  background-image: url(./source/layered-peaks-haikei.svg);
  background-size: cover;
}
.highlight {
  color: #cc5454;
  text-shadow: 0px 0px 5px black;
}

/*

NAVBAR


*/

.navbar {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation--point {
  margin: 12px;
  font-size: calc(1rem + 1vi);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.contact--button {
  background: #cc5454;
  border: 1px solid #cc5454;
  padding: 8px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  font-size: calc(1rem + 1vi);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #bdbdbd;
}

/*

LANDING PAGE TITLE

*/

.title__wrapper {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: calc(4rem + 7vi);
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
  margin-top: calc(5rem + 8vi);
}

.subtitle {
  font-size: calc(2rem + 1vi);
  line-height: 1.5;
  text-align: center;
  opacity: 0;
  transform: translateY(50%);
  transition: all 200ms ease;
}

.offset {
  position: relative;
  top: 105vh;
  opacity: 0;
  height: 0;
}

/*


    ABOUT SECTION

*/

#about {
  min-height: 100vh;
  width: 100%;
  background-color: #a17ab6;
  position: relative;
  top: 150vh;
  font-weight: 700;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 500px #242424;
  z-index: 1;
  background-image: url(./source/stacked-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #bdbdbd;
}

.about--contact {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: fixed;
  z-index: 100;
  bottom: calc(15px + 2vh);
  right: calc(15px + 2vw);
}
.about--contact--button {
  width: 40px;
  height: 40px;
  transform: translate(-5%, 10%);
}
.about--button {
  height: 49px;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}
//make the contact--button and about--button 1.1 times bigger on hover
.about--button:hover,
.about--button:focus {
  transform: scale(1.1);
  transition: all 200ms ease;
}
.about--button--icon {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.contact--button:hover,
.contact--button:focus {
  transform: scale(1.1);
  transition: all 200ms ease;
}

.about__title {
  font-size: calc(2rem + 3vi);
}

.youtube__player--wrapper {
  margin: 24px;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px #242424;
}

.youtube-player {
  border: 1px solid black;
  padding: 0;
  width: 100%;
  height: 100%;
}

.about__header {
  font-size: calc(2rem + 4vi);
  text-align: center;
}
.about__body {
  font-size: calc(1rem + 2vi);
  text-align: center;
  margin: 16px;
  margin-top: 32px;
}

.about__paragraph {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.steps__slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100vh;
}
.slide__words {
  width: 80%;
}
.slide__image {
  width: calc(20% + 160px);
  height: calc(20% + 160px);
  object-fit: contain;
}
.slide-header,
.slide__body {
  font-size: calc(2rem + 3vi);
  margin: 24px;
}

.slide__body {
  font-size: calc(0.5rem + 2vi);
}

/*


  EXAMPLES SECTION

*/
.transition {
  margin-top: 5vh;
  background-image: url(./source/wave-transition.svg);
  background-size: cover;
  height: 600px;
}

#examples {
  margin-top: 0;
  width: 100%;
  height: 475vh;
  background: url(./source/stacked-peaks-haikei.svg);
  background-size: cover;
}

.examples__wrapper {
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0px;
  z-index: 1;
  /* background-image: url(./source/wave-other-transition.svg); */
  background-size: cover;

  /* box-shadow: 0 0 5px  #242424; */
    background-image:
    linear-gradient(
      to bottom,
      rgba(	77, 42, 136, 1),
      rgba(	77, 42, 136, 0.001));
}

.examples__header {
  max-width: 1200px;
  width: 100%;
  font-size: calc(1rem + 1.5vi);
  text-align: center;
  line-height: 1.5;
  padding-top: 8px;
  margin: auto;
}

.videos__wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400vh;
}

/* video.show{
transform: translate(0%);
opacity: 100;
} */

/*


  CONTACT




*/

#contact {
  opacity: 0;
}
#contact.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  color: #bdbdbd;
  background: url(./source/contact-backbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
}

.close-btn {
  color: #aaa;
  font-size: calc(4rem + 3vi);
  font-weight: bold;
  margin: 0 1.5vi;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover,
.close-btn:focus {
  color: #cc5454;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.3);
}
.highlight:hover,
.highlight:focus {
  color: #cc5454;
  cursor: grab;
  text-shadow: 0 0 5px #cc5454;
}
.contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  background-image: url(./source/contact-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 100px #242424;
  border-radius: 25px;
}

.contact__wrapper-left {
  max-width: 700px;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact__wrapper-right {
  max-width: 700px;
  width: 50%;
  height: 80vh;
  display: flex;
  //align items at the top
  align-items: flex-start;
  overflow: hidden;
}

.contact__header {
  font-size: calc(1rem + 2vi);

  margin: 40px;
}
.contact__list {
  font-size: calc(1rem + 1vi);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.contact__list-point {
  font-weight: 700;
}
.calendly-inline-widget {
  width: 100%;
  height: 95%;
  margin: 32px;
}

.footer {
  height: 1080px;
  background-color: #4d2a88;
}

.hidden {
  opacity: 0;
  transform: translateY(50%);
  transition: all 100ms ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .about__paragraph{
    height:60vh;
  }
  .contact__wrapper {
    flex-direction: column;
    height: 100vh;
  }
  .contact__wrapper-left {
    width: 100%;
    height:40vh;
  }
  .contact__wrapper-right {
    width: 100%;
    height: 55vh;
    margin-bottom: 5vh;
  }
 .hidden {
  opacity: 0;
  transform: translateY(50%);
  transition: all 300ms ease;
}
.show {
  opacity: 1;
  transform: translateY(0);
}
}

@media (max-width:400px){
  iframe.hidden{
    width:370px;
  }
}
