@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: azure;
}

li {
  list-style-type: none;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#landing-page {
  min-height: 100vh;
}

/* 


ANIMATIONS


*/

@keyframes arrow-bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

 @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}



.fade-in {
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
} 

.bounce__infinite {
  animation-name: arrow-bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/*

        NAVBAR


*/
.header__name {
  font-size: 48px;
  font-weight: 700;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
}

.header__link--list {
  display: flex;
  font-size: 22px;
}
.header__link {
  padding: 8px;
}

/* 



TITLE PAGE



*/

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  height: calc(100vh - 120px);
}
.title__content {
  max-width: 1200px;
  width: 95%;
}

.title__header {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: center;
  padding: 20px 0;
}

.title__paragraph {
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
}

.arrow__wrapper {
  display: flex;
  justify-content: center;
}

.arrow {
  width: 20px;
  height: 20px;
}

/* 

ABOUT SECTION
    
*/
#About {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.about__video {
  max-width: 1200px;
  width: 90%;
}

.about__text--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;
  width: 95%;
  max-width: 1200px;
}

.about__header {
  font-size: 36px;
  padding: 36px;
  text-align: center;
}

.about__para {
  font-size: 28px;
  line-height: 1.56;
  margin: 8px 12px;
}

.swiper {
  max-width: 1200px;
  max-height: 1000px;
  width: 80%;
  height: 60vh;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide__words {
  width: 30%;
}
.slide__picture {
  max-width: 400px;
  margin-left: 100px;
  width: 30%;
}
.slide__header {
  margin: 12px;
}
.slide__para {
  line-height: 2;
  margin: 12px;
}
.swiper-pagination-bullet-active {
     background-color: #000 !important;
}



/* 


EXAMPLES SECTION

*/


.example{
  padding: 24px 0;
 width: 90%;
 max-width: 1200px;
 height: 100vh;
}
.example__text{
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.example__header{
  font-size: 32px;
  line-height: 2;
}

.example__list{
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
.lets__chat{
  font-size: 56px;
  margin: 24px 0;
}
.exmaple__para{
  font-size: 24px;
}
